In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('C:/Users/user/TEST3/csv파일/데이터셋_4(심각도).csv',encoding='cp949')

In [5]:
df1=pd.read_csv('C:/Users/user/TEST3/csv파일/데이터셋_2_2(심각도).csv',encoding='cp949')

In [4]:
df

,사고유형,연령가해자,법규위반가해자,행동유형가해자,피해자신체상해주부위,차량용도가해자,도로종류,도로형태,도로선형,발생시각,심각도
0,횡단중,65세이상,그룹1,그룹2,그룹5,그룹4,시도,단일로,평지,출퇴근시간,1
1,횡단중,51-60세,그룹1,그룹3,그룹4,그룹1,시도,교차로,평지,저녁~자정,1
2,길가장자리구역통행중,31-40세,그룹1,그룹3,그룹3,그룹4,시도,단일로,평지,낮,1
3,횡단중,41-50세,그룹1,그룹2,그룹4,그룹1,시도,단일로,평지,출퇴근시간,1
4,횡단중,51-60세,그룹2,그룹3,그룹4,그룹1,시도,교차로,평지,낮,1
...,...,...,...,...,...,...,...,...,...,...,...
27279,횡단중,31-40세,그룹1,그룹2,그룹5,그룹4,시도,교차로,평지,낮,1
27280,횡단중,41-50세,그룹1,그룹3,그룹5,그룹2,군도,교차로,평지,출퇴근시간,1
27281,횡단중,41-50세,그룹2,그룹3,그룹5,그룹1,시도,교차로,평지,출퇴근시간,1
27282,길가장자리구역통행중,51-60세,그룹1,그룹2,그룹2,그룹4,시도,단일로,평지,낮,0
27283,차도통행중,31-40세,그룹1,그룹2,그룹4,그룹4,군도,단일로,평지,출퇴근시간,1

In [6]:
df1

,사고유형,연령가해자,법규위반가해자,행동유형가해자,피해자신체상해주부위,차량용도가해자_중분류,도로종류,도로형태,도로선형,발생시각,심각도
0,1,1,4,8,9,2,0,3,1,1,0
1,4,6,4,8,15,10,2,3,1,3,1
2,2,1,4,8,0,10,2,3,1,4,0
3,2,2,4,3,0,15,0,3,1,2,1
4,4,4,4,8,15,10,0,3,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...
58054,2,5,4,8,2,10,2,3,1,1,0
58055,1,2,0,3,2,10,3,2,1,4,0
58056,3,3,4,8,6,10,3,3,1,3,1
58057,0,6,4,8,9,10,2,3,1,3,1
58058,4,3,4,4,6,10,0,2,1,4,1

In [7]:
df = df.drop(['심각도'],axis=1)

In [8]:
df = pd.get_dummies(df,drop_first=True)

In [9]:
df

,사고유형_보도통행중,사고유형_차도통행중,사고유형_횡단중,연령가해자_21-30세,연령가해자_31-40세,연령가해자_41-50세,연령가해자_51-60세,연령가해자_61-64세,연령가해자_65세이상,법규위반가해자_그룹2,...,도로종류_일반국도,도로종류_지방도,도로종류_특별광역시도,도로형태_단일로,도로형태_주차장,도로선형_오르막,도로선형_평지,발생시각_새벽~아침,발생시각_저녁~자정,발생시각_출퇴근시간
0,0,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,1
1,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
3,0,0,1,0,0,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1
4,0,0,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27279,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
27280,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
27281,0,0,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
27282,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
27283,0,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1